/data/reviews_Books_5.json
/data/meta_Books.json
/data/ratings_Books.csv
/data/temp.log
/.venv
/data/temp.py
/amazon_books_eda.ipynb
/data_visualization.py
/data_visualization.log
/data/extract_data.py
